<h1>loan --  <%= @loan.id %></h1>
<p>Amount: <%= @loan.amount%></p>
<p>Rating at origin: <%= @loan.int_rating%></p>
<p>Coupon: <%= @loan.interest%></p>
<p>Default Count:  <%= @loan.defaults_count %></p>
<p>YTM: <%= @loan.ytm%></p>

